.grid-game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: calc((1 / 3) * 100%);
    max-width: 600px;
    aspect-ratio: 1 / 1;
    background-color: #e5e5e5;
}

.grid-game-board__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 5%;
    background-color: whitesmoke;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.grid-game-board__cell:hover {
    box-shadow: 0 0 0.5rem black;
}

.grid-game-board__cell:active {
    transform: scale(0.95);
}

.grid-game-board__marker {
    font-size: 2em;
}
